@model CategoryUpdateDto

@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">

    <h4 class="fw-bold py-3 mb-4">
        <span class="text-muted fw-light">Kategori Yönetimi / </span> Kategori Güncelle
    </h4>

    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <h5 class="card-header"></h5>
                <form asp-area="Admin" asp-controller="Category" asp-action="Update" method="post">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="card-body">
                        <input type="hidden" asp-for="Id" />
                        <div class="mb-3">
                            <label asp-for="Name" class="form-label">Başlık</label>
                            <input asp-for="Name" type="text" class="form-control" id="defaultFormControlInput" placeholder="Kategori giriniz" aria-describedby="defaultFormControlHelp" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-success">Güncelle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
