<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - mertkaratekin.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/mertkaratekin.Web.styles.css" asp-append-version="true" />

    <!--Font Awasome-->
    <link href="~/fontawasome/all.min.css" rel="stylesheet" />

    <!-- Bootstrap core CSS -->
    <link href="~/ui_stand_blog/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/ui_stand_blog/assets/css/fontawesome.css">
    <link rel="stylesheet" href="~/ui_stand_blog/assets/css/templatemo-stand-blog.css">
    <link rel="stylesheet" href="~/ui_stand_blog/assets/css/owl.css">
    <!--Yukari Cik CSS-->
    <link href="~/css/goup.css" rel="stylesheet" />
</head>
<body>
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- Header -->
    <header class="">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index"><h2>MERT KARATEKİN<em>.</em></h2></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
   
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="https://www.linkedin.com/in/mert-karatekin-577a29202/">
                                <i style="font-size:20px;" class="fa fa-linkedin"></i>
                            </a>
                        </li>
                
                        <li class="nav-item">
                            <a class="nav-link" href="https://github.com/mertkaratekin">
                                <i style="font-size:20px;" class="fa fa-github"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://twitter.com/mert16karatekin" target="_blank">
                                <i style="font-size:20px;" class="fa fa-twitter"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!--Yukari cik butonu-->
    <div id="goTopButton">
        <i class="fa fa-arrow-up btn btn-warning">Yukarı Çık</i>
    </div>

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="main-banner header-text"></div>
    <div style="height:100px;"></div>
    @RenderBody()
    <footer>
   

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="social-icons">
                        <li><a href="https://www.linkedin.com/in/mert-karatekin-577a29202/" target="_blank">Linkedin</a></li>
                        <li><a href="https://github.com/mertkaratekin" target="_blank">Github</a></li>
                        <li><a href="https://twitter.com/mert16karatekin" target="_blank">Twitter</a></li>
                    </ul>
                </div>
                <div class="col-lg-12">
                    <div class="copyright-text">
                        <p>&copy; @DateTime.Now.Year TÜM HAKLARI SAKLIDIR | MERT KARATEKİN</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="~/ui_stand_blog/vendor/jquery/jquery.min.js"></script>
    <script src="~/ui_stand_blog/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Additional Scripts -->
    <script src="~/ui_stand_blog/assets/js/custom.js"></script>
    <script src="~/ui_stand_blog/assets/js/owl.js"></script>
    <script src="~/ui_stand_blog/assets/js/slick.js"></script>
    <script src="~/ui_stand_blog/assets/js/isotope.js"></script>
    <script src="~/ui_stand_blog/assets/js/accordions.js"></script>

    <script language="text/Javascript">
        cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
        function clearField(t) {                   //declaring the array outside of the
            if (!cleared[t.id]) {                      // function makes it static and global
                cleared[t.id] = 1;  // you could use true and false, but that's more typing
                t.value = '';         // with more chance of typos
                t.style.color = '#fff';
            }
        }
    </script>

    <!--Yukari Cik Scripts-->
    <script src="~/js/goup.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
