@model List<ArticleDto>

<div class="content">
    @foreach (var item in Model)
    {
        <ul>
            <li>
                <a asp-controller="Home" asp-action="Detail" asp-route-id="@item.Id">
                    <h5>@item.Title</h5>
                    <span>@item.CreatedDate.ToString("dd/MM/yyyy")</span>
                </a>
            </li>
        </ul>
    }
</div>